
<div>
	<div ng-show="loading" class="top-of-feed-container">
		<span class="letterpress">Loading ...</span>
	</div>
	<div ng-show="emptylist" class="top-of-feed-container">
		<span class="letterpress">There is no el with this tag</span>
	</div>
	<ul>
		<li ng-repeat="el in feed.items" class="feed-item">
			<div class="feed-item-img">
				<img src="{{el.thumbnailUrl}}" ng-click="showImage(el)" ng-hide="el.showVideo"/>
				<video width="240" height="160" controls ng-show=el.showVideo>
					<source src="{{el.cdnUrl | trusted }}" type="video/mp4">
				</video>
			</div>



			<div class="feed-item-text">
				<a editable-text="el.title">{{ el.title || "empty" }}</a>
				<div class="feed-description">
					<form name="myForm" ng-controller="ExampleController">

						<div class="row">
							<div class="col-md-3">
								<h4>State:</h4>
							</div>

							<div class="col-md-2" ng-repeat="field in scheme.statuses">
								<label >
									<input type="radio" ng-model="userform.status" ng-value="field">
									{{ field }}
								</label>
							</div>
						</div>

						<div class="row">
							<div class="col-md-3">
								<h4>user channels:</h4>
							</div>

							<div class="col-md-2" ng-repeat="tag in scheme.user_channels">
								<label >
									<input type="checkbox" ng-model="userform.tags[tag]">
									{{ tag }} <br/>
								</label>
							</div>
						</div>

						<div class="row">
							<div class="col-md-3">
								<h4>Temporal:</h4>
							</div>

							<div class="col-md-7 offset-md-4">
								<label>
									<input type="checkbox" ng-model="userform.tags['temporal']">
								</label>
							</div>
						</div>

						<tt>objectionable channels:</tt>
						<label ng-repeat="tag in scheme.objectionable">
							<input type="checkbox" ng-model="userform.tags[tag]">
							{{ tag }} <br/>
						</label>
						<br/>
						<tt>color = {{ userform.tags | json}}</tt><br/>

						<tt>copy rights:</tt>
						<label ng-repeat="tag in scheme.copy_rights">
							<input type="checkbox" ng-model="userform.tags[tag]">
							{{ tag }} <br/>
						</label>
						<br/>
						<tt>color = {{ userform.tags | json}}</tt><br/>

						<tt>Ranks:</tt>
						<label ng-repeat="field in scheme.ranks">
							<input type="radio" ng-model="userform.rank" ng-value="field">
							{{ field }}
						</label>
						<br/>
						<tt>color = {{ userform.rank | json}}</tt><br/>

						<tt>Languages:</tt>
						<label ng-repeat="field in scheme.languages">
							<input type="radio" ng-model="userform.language" ng-value="field">
							{{ field }}
						</label>
						<br/>
						<tt>color = {{ userform.language | json}}</tt><br/>

					</form>
				</div>
			</div>


		</li>
	</ul>
</div>
