
<div>
	<div ng-show="loading" class="top-of-feed-container">
		<span class="letterpress">Loading ...</span>
	</div>
	<div ng-show="emptylist" class="top-of-feed-container">
		<span class="letterpress">There is no el with this tag</span>
	</div>
	<ul>
		<li ng-repeat="el in feed.items" class="feed-item">
			<div class="feed-item-img">
				<img src="{{el.thumbnailUrl}}" ng-click="showImage(el)" ng-hide="el.showVideo"/>
				<video width="240" height="160" controls ng-show=el.showVideo>
					<source src="{{el.cdnUrl | trusted }}" type="video/mp4">
				</video>
			</div>

			<div class="feed-item-text">

				<a editable-text="el.title">{{ el.title || "empty" }}</a>

				<div class="feed-description">
					<a editable-text="el.title">{{ el.title || "empty" }}</a><br>
					<span class="published">State: {{el.title}}</span>
				</div>

				<div class="feed-description">
					<!--<a href="http://www.flickr.com/people/{{el.author_id}}/" class="view-author">{{el.author | extractAuthor}}</a>-->
					<span class="published">Published: {{el.title}}</span>
					<a href="{{el.link}}" class="view-flickr">View on flickr</a>
				</div>


			</div>
		</li>
	</ul>
</div>
