
<div>
	<div ng-show="loading" class="top-of-feed-container">
		<span class="letterpress">Loading ...</span>
	</div>
	<div ng-show="emptylist" class="top-of-feed-container">
		<span class="letterpress">There is no el with this tag</span>
	</div>
	<ul>
		<li ng-repeat="el in feed.items" class="feed-item">
			<div class="feed-item-img">
				<img src="{{el.thumbnailUrl}}" ng-click="showImage(el)" ng-hide="el.showVideo"/>
				<video width="240" height="350" controls ng-show=el.showVideo>
					<source src="{{el.cdnUrl | trusted }}" type="video/mp4">
				</video>
			</div>

			<div class="feed-item-text">
				<div class="feed-description">
					<form name="myForm" ng-controller="ExampleController" ng-submit="submitForm()">
						<div class="row odd-row input-group-lg">
							<div class="col-md-4">
								<h5>Title:</h5>
							</div>
							<input type="text" ng-model="userform.title" ng-value="el.title">
						</div>

						<div class="row even-row">
							<div class="col-md-4">
								<h5>State:</h5>
							</div>

							<div class="col-md-2" ng-repeat="field in scheme.statuses">

								<label class="checkbox-inline">
									<input type="radio" ng-model="userform.status" ng-value="field">
									{{ field }}
								</label>
							</div>
						</div>

						<div class="row odd-row">
							<div class="col-md-4">
								<h5>user channels:</h5>
							</div>
							<div class="col-md-2" ng-repeat="tag in scheme.user_channels">
								<label class="checkbox-inline">
									<input type="checkbox" ng-model="userform.tags[tag]">
									{{ tag }} <br/>
								</label>
							</div>
						</div>

						<div class="row even-row">
							<div class="col-md-4">
								<h5>Objectionable Channels:</h5>
							</div>

							<div class="col-md-2" ng-repeat="tag in scheme.objectionable">
								<label class="checkbox-inline">
									<input type="checkbox" ng-model="userform.tags[tag]">
									{{ tag }} <br/>
								</label>
							</div>
						</div>

						<div class="row odd-row">
							<div class="col-md-4">
								<h5>Copy Rights:</h5>
							</div>

							<div class="col-md-2" ng-repeat="tag in scheme.copy_rights">
								<label class="checkbox-inline">
									<input type="checkbox" ng-model="userform.tags[tag]">
									{{ tag }} <br/>
								</label>
							</div>
						</div>

						<div class="row even-row">
							<div class="col-md-2">
								<h5>Ranks:</h5>
							</div>

							<div class="col-md-2" ng-repeat="field in scheme.ranks">
								<label class="checkbox-inline">
									<input type="radio" ng-model="userform.rank" ng-value="field">
									{{ field }}
								</label>
							</div>
						</div>

						<!-- Languages -->
						<div class="row odd-row">
							<div class="col-md-4">
								<h5>Languages:</h5>
							</div>

							<div class="col-md-2" ng-repeat="field in scheme.languages">
								<label class="checkbox-inline">
									<input type="radio" ng-model="userform.language" ng-value="field">
									{{ field }}
								</label>
							</div>
						</div>

						<!-- SUBMIT BUTTON -->
						<button type="submit" class="btn btn-success btn-lg btn-block">
							<span class="glyphicon glyphicon-flash"></span> Submit!
						</button>

						<br>
						<tt>Input = {{ userform | json}}</tt><br/>
					</form>
				</div>
			</div>
		</li>
	</ul>
</div>
